@model Boozy.GameStatusViewModel


<h2>Your Beer Game</h2>

@using (Html.BeginForm("TakeTurn","Game"))
{

<div>
    

    <fieldset>
        <legend>Retail</legend>
         <table>
        <thead>Retailer</thead>
        <tbody>
            <tr><td>Inventory:</td> <td>@Model.Retailer.Inventory</td></tr>
            <tr><td>Unfullfilled Orders:</td> <td>@Model.Retailer.UnfulfilledOrders</td></tr>
            <tr><td>Shipping Delays:</td> <td>@Model.Retailer.ShippingDelays</td></tr>
        </tbody>
    </table>
        @Html.LabelFor(i=>i.RetailOrder)
        @Html.TextBoxFor(i => i.RetailOrder)
    </fieldset>

    <table>
        <thead>Wholesaler</thead>
        <tbody>
            <tr><td>Inventory:</td> <td>@Model.Wholesaler.Inventory</td></tr>
            <tr><td>Unfullfilled Orders:</td> <td>@Model.Wholesaler.UnfulfilledOrders</td></tr>
            <tr><td>Shipping Delays:</td> <td>@Model.Wholesaler.ShippingDelays</td></tr>
        </tbody>
    </table>
    <fieldset>
        <legend>Wholesaler</legend>
        @Html.LabelFor(i=>i.WholesaleOrder)
        @Html.TextBoxFor(i => i.WholesaleOrder)
    </fieldset>
    <table>
        <thead>Distributor</thead>
        <tbody>
            <tr><td>Inventory:</td> <td>@Model.Distributor.Inventory</td></tr>
            <tr><td>Unfullfilled Orders:</td> <td>@Model.Distributor.UnfulfilledOrders</td></tr>
            <tr><td>Shipping Delays:</td> <td>@Model.Distributor.ShippingDelays</td></tr>
        </tbody>
    </table>
    <fieldset>
        <legend>Distributor</legend>
        @Html.LabelFor(i=>i.DistributorOrder)
        @Html.TextBoxFor(i => i.DistributorOrder)
    </fieldset>
    <table>
        <thead>Factory</thead>
        <tbody>
            <tr><td>Inventory:</td> <td>@Model.Factory.Inventory</td></tr>
            <tr><td>Unfullfilled Orders:</td> <td>@Model.Factory.UnfulfilledOrders</td></tr>
            <tr><td>Shipping Delays:</td> <td>@Model.Factory.ShippingDelays</td></tr>
        </tbody>
    </table>
    <fieldset>
        <legend>Factory</legend>
        @Html.LabelFor(i=>i.FactoryOrder)
        @Html.TextBoxFor(i => i.FactoryOrder)
    </fieldset>

    <input type="hidden" name="gameId" value="@Model.GameId"/>
    <input type="submit" value="Take Turn"/>

</div>

}
   